body {
  margin: 0;
  font-family: system-ui, Arial;
  background: #0f0f0f;
  color: white;
}

.slide {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  text-align: center;
}

button {
  padding: 14px 18px;
  border-radius: 10px;
  border: none;
  background: white;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.bottom-button {
  position: absolute;
  bottom: 30px;
}

.bottom-buttons {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 12px;
}